.pdf-list {
	width: 80%;
}
.card {
	width: 20rem;
	height: 50rem;
}
.category .list-group {
	width: 200px;
}
.nd {
	text-decoration: none;
}

.img-box img {
	height:350px;
}

.book-title
{
	text-align: center;
	color: rgb(116, 155, 8);
}